@page "/"
@inject ProductService ProductService
@inject PageStackNavController NavController

<PageTitle>Shop</PageTitle>

<div class="pa-3">
    <MAppBar Fixed
             ElevateOnScroll
             Class="surface">
        <div @onclick="HandleOnTextFieldClick"
             style="display: contents">
            <MTextField Dense
                        Rounded
                        Class="rounded-r-0"
                        TValue="string"
                        Placeholder="@_pinnedSearch"
                        PersistentPlaceholder
                        HideDetails="true"
                        Readonly>
            </MTextField>
            <MButton Color="primary"
                     Rounded
                     Depressed
                     Height="40"
                     Class="text-capitalize rounded-l-0"
                     Href="@($"/shop/search?key={_pinnedSearch}")"
                     data-page-stack-strategy
                     OnClickStopPropagation>
                Search
            </MButton>
        </div>
    </MAppBar>

    <MPullRefresh Style="margin-top: 56px;"
                  OnRefresh="@HandleOnRefresh">
        @RenderProductList(_products)

        <MInfiniteScroll Parent="@("window")"
                         OnLoad="@HandleOnLoad"
                         @ref="_infiniteScroll">
        </MInfiniteScroll>
    </MPullRefresh>
</div>

@code
{
    internal static RenderFragment RenderProductList(List<Product> products) => __builder =>
    {
        <MRow Dense>
            @foreach (var item in products)
            {
                <MCol Cols="6">
                    <MCard Flat
                           Class="pa-2"
                           Href="@($"/shop/product/{item.Id}")"
                           data-page-stack-strategy>
                        <MImage Src="@($"_content/Masa.Blazor.MauiDemo.Rcl/{item.PictureFile}")"
                                Height="150"
                                Contain>
                        </MImage>
                        <div class="subtitle-2 d-flex align-center">
                            <MChip Label Color="black" Dark XSmall Class="mr-1 px-2"
                                   Style="min-width: min-content;">
                                NEW
                            </MChip>
                            <div class="text-truncate">
                                @item.Name
                            </div>
                        </div>
                        <div class="caption d-flex align-center">
                            <MIcon Color="red" XSmall>mdi-currency-usd</MIcon>
                            <span class="red--text" style="line-height: 1rem;">
                                @item.Price
                            </span>
                        </div>
                    </MCard>
                </MCol>
            }
        </MRow>
    };

    private int _page = 1;
    private string? _pinnedSearch;
    private MInfiniteScroll? _infiniteScroll;

    private List<Product> _products = [];

    protected override void OnInitialized()
    {
        base.OnInitialized();

        _pinnedSearch = new[] { "饮水机", "纯水机", "净化器" }.ElementAt(Random.Shared.Next(0, 2));
    }

    private async Task HandleOnLoad(InfiniteScrollLoadEventArgs args)
    {
        var isFirstLoad = _page == 1;
        var pageSize = isFirstLoad ? 10 : 5;
        var appendProducts = await ProductService.GetProductsAsync(_page++, pageSize);

        if (isFirstLoad)
        {
            _products = appendProducts;
        }
        else
        {
            _products.AddRange(appendProducts);
        }

        args.Status = appendProducts.Count < pageSize ? InfiniteScrollLoadStatus.Empty : InfiniteScrollLoadStatus.Ok;
    }

    private async Task HandleOnRefresh()
    {
        _page = 1;

        if (_infiniteScroll != null)
        {
            await _infiniteScroll.ResetAsync();
        }
    }

    private void HandleOnTextFieldClick()
    {
        NavController.Push($"/shop/search?placeholder={_pinnedSearch}");
    }
}